.header {
    background-color: green;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    justify-content: space-around;
}


.header-child{
    display: flex;
    flex-direction: row;
}

.header-child-child{
    margin-right: 10px;
}